body {
    min-height: 100vh;
    color: #ffffff !important;
    background-color: rgb(70, 70, 70) !important;
}

.width_100 {
    width: 100%;
}

.text_center {
    text-align: center;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

h1 {
    text-align: center;
    padding-left: 16px;
}

.container {
    height: 89.4vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.quiz_card {
    width: 32rem;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.answer_element:hover {
    cursor: pointer;
    background-color: #b4b4b4;
    border-radius: 4px;
}

.question_footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 16px;
}